name = "coki-oa-web"
type = "webpack"
account_id = "my-cloudflare-account-id"
zone_id = "my-cloudflare-zone-id"

[site]
bucket = "out"
entry-point = "workers-site"

[env.dev]
workers_dev = true

[env.staging]
workers_dev = true

[env.prod]
route = "my-production-domain/*"