
body {
    /* When the left and right hand menu and search drawers are opened, the scrollbar is removed and the background of
    the site shows, so we use a linear gradient with black for the first 68px to mimic the navbar and a light grey for
    the rest of the page so that the scrollbar removal is not too jarring */
    background-image: linear-gradient(to bottom, #101820 0px, #101820 68px, #FAFAFA 68px) !important;
}

/*Publisher Donut Drop Shadow */
.publisherOpenDonut g > g {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .3));
}

.pageBtnActive {
    background-color: #FF671C !important;
}

p a {
    cursor: pointer;
    text-decoration: underline !important;
    word-break: break-all; /* Makes sure that links break */
}

p a:hover {
    color: #737373 !important;
}

li a {
    cursor: pointer;
    text-decoration: underline;
}

li a:hover {
    color: #737373 !important;
}

/*TODO: move into own module?*/
.socialCard {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}

/* Sets correct styling on filter */
.filterOnWarningIcon {
    color: #FF671C;
}

.filterAccordionButton:hover .filterOnWarningIcon {
    color: white;
}