ul {
    transform: translate(20px);
}

li::marker {
    color: #FF671C;
}

ul > li {
    padding-left: 1em;
    margin-bottom: 1em;
}

/*Publisher Donut Drop Shadow */
.publisherOpenDonut g > g {
    filter: drop-shadow( 0px 0px 10px rgba(0, 0, 0, .3));
}

.oaPercentageStream {
    height: 420px;
}

.oaPercentageStream > div {
    overflow-x: auto;
}

.pageBtnActive {
    background-color: #FF671C !important;
}

