/* Hide scrollbars as this messes with setting the viewport width*/
body {
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

li::marker {
    color: #FF671C;
}


#country-dropdown ul li {
    margin-bottom: 1px;
}

ul > li {
    margin-bottom: 16px;
}

ol > li {
    margin-bottom: 16px;
}

/*Publisher Donut Drop Shadow */
.publisherOpenDonut g > g {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .3));
}

.pageBtnActive {
    background-color: #FF671C !important;
}

p a {
    cursor: pointer;
    text-decoration: underline !important;
    word-break: break-all; /* Makes sure that links break */
}

p a:hover {
    color: #737373 !important;
}

li a {
    cursor: pointer;
    text-decoration: underline;
}

li a:hover {
    color: #737373 !important;
}

.socialCard {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
}
