/* Hide scrollbars as this messes with setting the viewport width*/
body {
    -ms-overflow-style: none; /* Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}

li::marker {
    color: #FF671C;
}

ul > li {
    margin-bottom: 16px;
}

ol > li {
    margin-bottom: 16px;
}

/*Publisher Donut Drop Shadow */
.publisherOpenDonut g > g {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .3));
}

.oaPercentageStream {
    height: 420px;
}

.oaPercentageStream > div {
    overflow-x: auto;
}

.pageBtnActive {
    background-color: #FF671C !important;
}

p a {
    cursor: pointer;
    text-decoration: underline;
}

p a:hover {
    color: #737373 !important;
}